Repository christulsi/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=-1, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix --max-warnings=-1", "prettier --write"],
  "*.astro": ["eslint --fix --max-warnings=-1", "prettier --write"],
  "*.{json,md,css,html}": ["prettier --write"]
}

refactor: Use Astro Content Collection instead of raw json
  package-lock.json
  package.json
  public/og-image.svg
  src/components/About.astro
  src/components/Certifications.astro
  src/components/Experience.astro
  src/components/Projects.astro
  src/components/Testimonials.astro
  src/content/certifications/aws-cloud-practitioner.json
  src/content/certifications/bachelors-degree.json
  src/content/certifications/masters-degree.json
  src/content/config.ts
  src/content/experiences/ict-engineer.json
  src/content/experiences/senior-ict-engineer.json
  src/content/projects/cicd-pipeline.json
  src/content/projects/data-engineering-ai.json
  src/content/projects/erpnext-implementation.json
  src/content/projects/single-window-platform.json
  src/content/skills/backend-databases.json
  src/content/skills/devops-cloud.json
  src/content/skills/frontend-mobile.json
  src/content/testimonials/colleague.json
  src/content/testimonials/project-stakeholder.json
  src/content/testimonials/team-member.json
  src/data/certifications.json
  src/data/experiences.json
  src/data/projects.json
  src/data/skills.json
  src/data/testimonials.json
  src/layouts/Layout.astro
  src/scripts/three/core.ts
  src/scripts/three/index.ts
  src/scripts/three/particles.ts
Due: eslint --fix --max-warnings=-1, prettier --write

chore: Phase-1 tech-debt cleanup (audit, CI, docs, Toast XSS)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml.backup
  README.md
  package-lock.json
  src/components/Toast.astro
  src/scripts/three/core.ts
Due: eslint --fix --max-warnings=-1, prettier --write

refactor: Phase-2 — wire up existing abstractions, drop window globals
  src/components/Contact.astro
  src/components/Header.astro
  src/components/Toast.astro
  src/scripts/three/index.ts
Due: eslint --fix --max-warnings=-1, prettier --write

test: Phase-3 — Playwright in CI, extract ToastManager, raise coverage
  .eslintrc.json
  .github/workflows/ci.yml
  README.md
  src/components/Toast.astro
  src/utils/form.test.ts
  src/utils/index.ts
  src/utils/toast.test.ts
  src/utils/toast.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=-1, prettier --write

chore: Phase-4 — drop unused Partytown integration, fix husky hooks
  .husky/pre-commit
  .husky/pre-push
  astro.config.mjs
  package-lock.json
  package.json
Due: prettier --write

build(deps): Phase-5 — bump astro-seo 0.8 → 1.1
  package-lock.json
  package.json
Due: prettier --write

build(deps): Phase-6 — bump three 0.181 → 0.184 (+ @types/three)
  package-lock.json
  package.json
Due: prettier --write

build: Phase-8 — migrate to ESLint 9 flat config, drop airbnb-base
  .eslintignore
  .eslintrc.json
  eslint.config.js
  package-lock.json
  package.json
  src/scripts/three-hero-entry.js
  src/scripts/three/particles.ts
  src/utils/animation.ts
  src/utils/toast.ts
Due: eslint --fix --max-warnings=-1, prettier --write

fix: Pin @eslint/js to ^9 to match eslint major
  package-lock.json
  package.json
Due: prettier --write

fix: Update job title to Senior ICT Engineer in layout
  e2e/accessibility.spec.ts
  e2e/contact-form.spec.ts
  e2e/homepage.spec.ts
  e2e/mobile.spec.ts
  e2e/theme.spec.ts
  src/layouts/Layout.astro
Due: eslint --fix --max-warnings=-1, prettier --write

fix: Update mobile test to use Pixel 5 device
  e2e/mobile.spec.ts
Due: eslint --fix --max-warnings=-1, prettier --write

feat: Enhance animations and accessibility across components; add structured data for SEO
  src/components/About.astro
  src/components/Certifications.astro
  src/components/Contact.astro
  src/components/Experience.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/components/Projects.astro
  src/components/ScrollToTop.astro
  src/components/Stats.astro
  src/components/Testimonials.astro
  src/data/structured-data.ts
  src/layouts/Layout.astro
  src/pages/404.astro
  src/scripts/three-hero-entry.js
  src/scripts/three/core.ts
  src/scripts/three/effects.ts
  tailwind.config.mjs
Due: eslint --fix --max-warnings=-1, prettier --write

feat: Replace hero particle effect with a site-wide constellation background
  src/components/Hero.astro
  src/layouts/Layout.astro
  src/pages/404.astro
  src/scripts/three-hero-worker.js
  src/scripts/three/constants.ts
  src/scripts/three/controls.ts
  src/scripts/three/core.ts
  src/scripts/three/effects.ts
  src/scripts/three/index.ts
  src/scripts/three/particles.ts
  src/scripts/three/performance.ts
  src/scripts/three/shaders.ts
  src/scripts/three/types.ts
  src/scripts/three/utils.ts
Due: eslint --fix --max-warnings=-1, prettier --write

build(deps): Update in-range dependencies to latest patch and minor versions
  package-lock.json
Due: prettier --write

fix: Polish mobile menu, constellation cursor, footer icons, and no-JS fallback
  src/components/Footer.astro
  src/components/Header.astro
  src/layouts/Layout.astro
  src/scripts/three/constants.ts
  src/scripts/three/index.ts
Due: eslint --fix --max-warnings=-1, prettier --write

fix: Correct LinkedIn URL to the chris-tulsi handle
  src/components/Contact.astro
  src/components/Footer.astro
  src/data/structured-data.ts
Due: eslint --fix --max-warnings=-1, prettier --write

fix: Generate raster OG image, fix icon assets, pin Node, de-hardcode site URL
  .nvmrc
  package.json
  public/apple-touch-icon.png
  public/apple-touch-icon.svg
  public/favicon-base.svg
  public/og-image.png
  public/og-image.svg
  public/site.webmanifest
  scripts/generate-images.mjs
  src/data/structured-data.ts
  src/layouts/Layout.astro
Due: eslint --fix --max-warnings=-1, prettier --write

test: Cover constellation logic and raise coverage floors
  src/scripts/three/particles.test.ts
  src/scripts/three/utils.test.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=-1, prettier --write

build(deps): Upgrade to Astro 6 and zod 4 (Tailwind via PostCSS)
  astro.config.mjs
  package-lock.json
  package.json
  postcss.config.mjs
  src/components/Contact.astro
  src/content.config.ts
  src/content/config.ts
  src/schemas/form.schema.test.ts
  src/schemas/form.schema.ts
Due: eslint --fix --max-warnings=-1, prettier --write

test(e2e): Measure built dist output instead of preview-server behavior
  e2e/performance.spec.ts
Due: eslint --fix --max-warnings=-1, prettier --write

ci: Require Node 22 for Astro 6 (CI workflows, .nvmrc, engines)
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .nvmrc
  package.json
Due: prettier --write

ci: Grant pull-requests write to the bundle-size job so it can comment
  .github/workflows/pr-checks.yml
Due: none

build(deps): Migrate to Tailwind CSS v4
  package-lock.json
  package.json
  postcss.config.mjs
  src/components/About.astro
  src/components/Contact.astro
  src/components/Header.astro
  src/layouts/Layout.astro
  src/styles/global.css
Due: eslint --fix --max-warnings=-1, prettier --write

feat: Redesign the site with a new type, color, and motion system
  public/apple-touch-icon.png
  public/favicon.svg
  public/og-image.png
  public/site.webmanifest
  scripts/generate-images.mjs
  src/components/About.astro
  src/components/Certifications.astro
  src/components/Contact.astro
  src/components/Experience.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/components/ProjectCard.astro
  src/components/Projects.astro
  src/components/ScrollToTop.astro
  src/components/SectionDivider.astro
  src/components/Stats.astro
  src/components/Testimonials.astro
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/index.astro
  src/scripts/three/constants.ts
  src/utils/toast.ts
  tailwind.config.mjs
Due: eslint --fix --max-warnings=-1, prettier --write

feat(content): Add display order, client and outcome fields
  src/components/SectionDivider.astro
  src/components/Stats.astro
  src/content/certifications/aws-cloud-practitioner.json
  src/content/certifications/bachelors-degree.json
  src/content/certifications/masters-degree.json
  src/content/experiences/ict-engineer.json
  src/content/experiences/senior-ict-engineer.json
  src/content/projects/cicd-pipeline.json
  src/content/projects/data-engineering-ai.json
  src/content/projects/erpnext-implementation.json
  src/content/projects/single-window-platform.json
  src/schemas/data.schema.ts
  src/types/data.ts
  src/utils/content.test.ts
  src/utils/content.ts
  src/utils/index.ts
Due: eslint --fix --max-warnings=-1, prettier --write

feat: Redesign site with a bento layout and Golden Arrowhead palette
  public/apple-touch-icon.png
  public/favicon-192x192.png
  public/favicon.svg
  public/og-image.png
  public/site.webmanifest
  scripts/generate-images.mjs
  src/components/About.astro
  src/components/Certifications.astro
  src/components/Contact.astro
  src/components/Experience.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/components/ProjectCard.astro
  src/components/Projects.astro
  src/components/ScrollToTop.astro
  src/components/Testimonials.astro
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/index.astro
  src/scripts/three/constants.ts
  tailwind.config.mjs
Due: eslint --fix --max-warnings=-1, prettier --write

test(e2e): Make specs viewport-aware and cover the redesign
  e2e/accessibility.spec.ts
  e2e/contact-form.spec.ts
  e2e/helpers.ts
  e2e/homepage.spec.ts
  e2e/mobile.spec.ts
  e2e/theme.spec.ts
Due: eslint --fix --max-warnings=-1, prettier --write

docs: Document the redesign and fix stale content paths
  README.md
Due: prettier --write

feat: Concentrate the design's emphasis and drop the card-kit sections
  src/components/About.astro
  src/components/Certifications.astro
  src/components/Experience.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/components/ProjectCard.astro
  src/components/ScrollToTop.astro
  src/components/Testimonials.astro
  src/layouts/Layout.astro
Due: eslint --fix --max-warnings=-1, prettier --write

build(deps): Update dependencies to latest minor and patch versions
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix --max-warnings=-1, prettier --write

build(deps): Upgrade three.js to r186
  package-lock.json
  package.json
Due: prettier --write

build(deps): Upgrade Vitest to v5
  package-lock.json
  package.json
Due: prettier --write

build(deps): Upgrade commitlint to v21 and lint-staged to v17
  package-lock.json
  package.json
Due: prettier --write

build(deps): Upgrade prettier-plugin-astro to v1 and reformat
  package-lock.json
  package.json
  src/components/About.astro
  src/components/Certifications.astro
  src/components/Contact.astro
  src/components/Experience.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/components/ProjectCard.astro
  src/components/Projects.astro
  src/components/ScrollToTop.astro
  src/components/Testimonials.astro
  src/layouts/Layout.astro
  src/pages/404.astro
Due: eslint --fix --max-warnings=-1, prettier --write

ci: Upgrade all GitHub Actions to their latest majors
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/pr-checks.yml
Due: none

build: Fix npm run analyze and drop unused vite-plugin-inspect
  .gitignore
  astro.config.mjs
  package-lock.json
  package.json
Due: prettier --write

fix: Tighten reading hierarchy and quiet the background behind text
  e2e/helpers.ts
  src/components/Certifications.astro
  src/components/Experience.astro
  src/components/ProjectCard.astro
  src/layouts/Layout.astro
Due: eslint --fix --max-warnings=-1, prettier --write

build(deps): Upgrade Astro to v7 (Vite 8)
  package-lock.json
  package.json
Due: prettier --write

feat: Immersive 3D and motion layer with project pages
  package-lock.json
  package.json
  src/components/About.astro
  src/components/Certifications.astro
  src/components/Contact.astro
  src/components/Cursor.astro
  src/components/Experience.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/components/Loader.astro
  src/components/ProjectCard.astro
  src/components/ProjectCover.astro
  src/components/Projects.astro
  src/components/ScrollToTop.astro
  src/components/Testimonials.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/projects/[slug].astro
  src/schemas/data.schema.ts
  src/scripts/motion/cursor.ts
  src/scripts/motion/index.ts
  src/scripts/motion/intro.ts
  src/scripts/motion/reveals.ts
  src/scripts/motion/scroll-to.ts
  src/scripts/motion/smooth-scroll.ts
  src/scripts/motion/split.test.ts
  src/scripts/motion/split.ts
  src/scripts/motion/tilt.ts
  src/scripts/scene-state.ts
  src/scripts/three/arrowhead.test.ts
  src/scripts/three/arrowhead.ts
  src/scripts/three/constants.ts
  src/scripts/three/core.ts
  src/scripts/three/index.ts
  src/scripts/three/shaders.ts
  src/scripts/three/utils.test.ts
  src/scripts/three/utils.ts
  src/types/data.ts
  src/utils/content.test.ts
  src/utils/content.ts
Due: eslint --fix --max-warnings=-1, prettier --write
